{{ $pag := $.Paginator }}
{{ if gt $pag.TotalPages 1 }}
  <ul class="pagination">
	<span class="page-item page-prev">
	{{ if $pag.HasPrev }}
    <a {{ if $pag.HasPrev }}href="{{ $pag.Prev.URL }}"{{ end }} class="page-link" aria-label="Previous"><span aria-hidden="true">← Prev</span></a>
	{{ end }}
	</span>
	{{ range $pag.Pagers }}
		<span class="page-item">
			{{ if eq .PageNumber $pag.PageNumber}}
			<a  href="{{ .URL }}" class="page-link" aria-label="{{ .PageNumber }}"><span aria-hidden="true"><b>{{ .PageNumber }}</b></span></a>
			{{ else }}
			<a  href="{{ .URL }}" class="page-link" aria-label="{{ .PageNumber }}"><span aria-hidden="true">{{ .PageNumber }}</span></a>
			{{ end }}
		</span>
	{{ end }}
	<span class="page-item page-next">
	{{ if $pag.HasNext }}
    <a {{ if $pag.HasNext }}href="{{ $pag.Next.URL }}"{{ end }} class="page-link" aria-label="Next"><span aria-hidden="true">Next →</span></a>
	{{ end }}
	</span>
</ul>
{{ end }}
